<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="dependencyResolverTypeName" value="DAL.Infrastructure.UnityDependencyResolver, DAL" />
  </appSettings>
<connectionStrings> 
<add name="ApplicationServices" connectionString="Data Source=10.65.63.154;Initial Catalog=NewChgaPlatformDB;User ID=sa;Password=zaq1XSW@;Persist Security Info=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>